@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
  text-align: center;
}

.main-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-header {
  position: relative;
  width: 1060px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  padding-left: 168px;
}

.navigation-logo {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin: 0 auto 0 0;
  padding: 0;
  list-style: none;
}

.navigation-list-item {
  padding: 20px 16px;
}

.curent-page {}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.user-navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation-list-item {
  padding: 14px 0 14px 20px;
}

.user-navigation-link {}

.user-navigation-button {
  display: inline-block;
  background-color: #756157;
  padding: 8px 5px;
  border-radius: 4px;
  width: 150px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.favorites-count {
  display: inline-block;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  width: 11px;
  padding: 5px;
  border-radius: 10px;
}

.main {}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #ddecf5;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-size: 1200px 57px, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center top;
}

.welcome-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.advantages {
  padding-top: 69px;
}

.advantages-capitals {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 750px;
  margin: 0 auto 25px;
}

.advantages-description {
  margin: 0 auto 90px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  width: 750px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-list-item {
  display: flex;
  background-color: rgba(130, 179, 211, 0.20);
}

.advantages-list-item:nth-child(2n) {
  background-color: rgba(130, 179, 211, 0.12);
}

.advantages-list-item-spec .advantages-container {
  background-color: #82b3d3;
}


.advantages-container {
  padding-top: 102px;
  padding-bottom: 102px;
  width: 400px;
}

.advantages-title {
  margin: 0 auto 62px;
  width: 175px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-text {
  margin: 0 auto;
  color: #333333;
  width: 230px;
}

.advantages-list-item-spec .advantages-title,
.advantages-list-item-spec .advantages-text {
  color: #ffffff;
}

.advantages-photo {
  display: block;
  object-fit: cover;
  height: 100%;
}

.invitation {
  padding-top: 64px;
}

.invitation-capitals {
  margin: 0 auto 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 600px;
}

.invitation-description {
  margin: 0 auto 64px;
  width: 600px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.invitation-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.invitation-list-item {
  padding-top: 183px;
  padding-bottom: 81px;
  width: 400px;
  background-color: rgba(130, 179, 211, 0.12);
}

.invitation-list-item:nth-child(2n) {
  background-color: #ffffff;
}

.invitation-title {
  margin: 0 auto 30px;
  width: 230px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.invitation-text {
  width: 230px;
  margin: 0 auto;
  color: #333333;
}

.invitation-search {
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-capitals {
  margin: 0 auto 22px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 600px;
}

.search-description {
  margin: 0 auto 52px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  width: 600px;
}

.search-button {
  display: inline-block;
  background-color: #756157;
  padding: 8px 5px;
  border-radius: 4px;
  width: 367px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.newsletter {
  padding-top: 96px;
  padding-bottom: 104px;
  background-image: url("../images/newsletter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ddecf5;
}

.newsletter-title {
  margin: 0 auto 22px;
  width: 600px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.newsletter-text {
  margin: 0 auto 54px;
  width: 600px;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.newsletter-form {
  display: flex;
  flex-wrap: wrap;
  width: 690px;
  margin: 0 auto;
  min-height: 52px;
}

.newsletter-field {
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 24px;
  font-weight: 400;
  font-size: 18px;
  min-width: 430px;
  min-height: 52px;
  padding-block: 0;
  padding-inline: 0;
  padding-left: 20px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.newsletter-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
  color: #ffffff;
  text-transform: uppercase;
  width: 236px;
  min-height: 52px;
  border: none;
  border-radius: 0 4px 4px 0;
}

.main-footer {
  min-height: 120px;
}

.messengers-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.messengers-list-item {}

.messenger-button {}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.academy-link {}

.academy-logo {}
