@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-header {}

.navigation {}

.navigation-logo {}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list-item {

}

.curent-page {}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.user-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation-list-item {}

.user-navigation-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.favorites-count {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
}

.main {}

.hero {
  background-image: url("../images/index-background.jpg");
}

.welcome-image {}

.advantages {}

.advantages-capitals {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-list-item {}

.advantages-container {}

.advantages-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-text {
  margin: 0;
  color: #333333;
}

li:nth-child(1) .advantages-title, li:nth-child(1) .advantages-text {
  color: #ffffff;
}

li:nth-child(5) .advantages-title, li:nth-child(5) .advantages-text {
  color: #ffffff;
}

.advantages-photo {}

.invitation {}

.invitation-capitals {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.invitation-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.invitation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.invitation-list-item {}

.invitation-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.invitation-text {
  margin: 0;
  color: #333333;
}

.invitation-search {}

.search-capitals {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.newsletter {
  background-image: url("../images/newsletter-background.jpg");
}

.newsletter-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.newsletter-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.newsletter-form {}

.newsletter-field {
  line-height: 24px;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
  color: #ffffff;
  text-transform: uppercase;
}

.main-footer {}

.messengers-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.messengers-list-item {}

.messenger-button {}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.academy-link {}

.academy-logo {}
