@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
  text-align: center;
}

.main-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-header {}

.navigation {}

.navigation-logo {}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list-item {}

.curent-page {}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.user-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation-list-item {}

.user-navigation-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.favorites-count {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
}

.main {}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #ddecf5;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-size: 1200px 57px, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center top;
}

.welcome-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.advantages {}

.advantages-capitals {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 722px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 69px;
}

.advantages-description {
  margin: 0;
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-list-item:nth-child(1) .advantages-container,
.advantages-list-item:nth-child(5) .advantages-container {
  background-color: #82b3d3;
}

.advantages-list-item:nth-child(2) .advantages-container,
.advantages-list-item:nth-child(4) .advantages-container {
  background-color: rgba(130, 179, 211, 0.12);
}

.advantages-list-item:nth-child(2) .advantages-container {
  background-color: rgba(130, 179, 211, 0.20);
}

.advantages-container {
  padding-top: 102px;
  padding-bottom: 102px;
  width: 400px;
}

.advantages-title {
  margin: 0;
  margin-bottom: 62px;
  width: 175px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.advantages-text {
  margin: 0;
  color: #333333;
  margin-left: auto;
  margin-right: auto;
  width: 230px;
}

li:nth-child(1) .advantages-title,
li:nth-child(1) .advantages-text {
  color: #ffffff;
}

li:nth-child(5) .advantages-title,
li:nth-child(5) .advantages-text {
  color: #ffffff;
}

.advantages-photo {
  display: block;
}

.invitation {}

.invitation-capitals {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 505px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 64px;
}

.invitation-description {
  margin: 0;
  margin-bottom: 64px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.invitation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.invitation-list-item {
  padding-top: 183px;
  padding-bottom: 81px;
  width: 400px;
}

.invitation-list-item:nth-child(1),
.invitation-list-item:nth-child(3) {
  background-color: rgba(130, 179, 211, 0.12);
}

.invitation-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.invitation-text {
  width: 180px; /* вопрос по ширине текста */
  margin-left: auto;
  margin-right: auto;
  color: #333333;
}

.invitation-search {
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-capitals {
  margin: 0;
  margin-bottom: 22px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-description {
  margin: 0;
  margin-bottom: 52px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.button-container {
  width: 376px;
  margin-left: auto;
  margin-right: auto;
  background-color: #756157;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.newsletter {
  padding-top: 96px;
  padding-bottom: 104px;
  background-image: url("../images/newsletter-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ddecf5;
}

.newsletter-title {
  margin: 0;
  margin-bottom: 22px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.newsletter-text {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.newsletter-form {
  min-height: 52px;
}

.newsletter-field {
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 24px;
  font-weight: 400;
  font-size: 18px;
  min-width: 431px;
  min-height: 52px;
  padding-block: 0;
  padding-inline: 0;
  padding-left: 20px;
}

.newsletter-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
  color: #ffffff;
  text-transform: uppercase;
  min-width: 253px;
  min-height: 52px;
}

.main-footer {
  min-height: 120px;
}

.messengers-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.messengers-list-item {}

.messenger-button {}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.academy-link {}

.academy-logo {}
